# Inventor 2018 files
*.ipt
*.lck
*.asv
*.iam
OldVersions/
AutomatedFlyFeeder/
AutomatedFlyArena/

# LaTeX files
*.aux
*.log
*.out
*.pdf
*.gz

# Schematic files
*.ai
*.svg
*.qet

# Microsoft Visual Studio Code for Arduino
*.vcxproj
*.vcxproj.*
*.suo
__vm/
Debug/
*.vs/
*.sln

# Images
*.png

# PCB Design Files
PCBDesigns/*
